.hot-list_markets__ihE0y{
    --space-size: 24px;
    padding: 48px 0 55px;
    background: linear-gradient(180deg,transparent,var(--bg-secondary) 100%);
    overflow: hidden;
}
.hot-list_markets__ihE0y .ant-tabs-nav {
    padding: 36px var(--space-size) 24px;
    margin-bottom: 0;
}
.hot-list_markets__ihE0y .ant-tabs {
    border: 1px solid var(--divider-primary);
    border-radius: 12px;
}
.hot-list_markets__ihE0y .ant-tabs-ink-bar{
    height: 0 !important;
}
.hot-list_symbolWrapper__T_j7e {
    display: flex;
    align-items: center;
    font-weight: 400;
}
.hot-list_sss{
    width: 28px;
    height: 28px;
    margin-inline-end: 16px;
}
.hot-list_sss img{
    width: 100%;
    height: 100%;
}
.hot-list_title{
    font-size: 16px;
}
.hot-list_markets__ihE0y tr > td {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
.hot-list_toTradeLink___yvj0{
    font-weight: 500;
}
.hot-list_toTradeLink___yvj0:hover{
    background-color: var(--primary-base) !important;
    border-color: var(--primary-base) !important;
    color: #fff !important;
}
.antd-custom-wrapper{
    background-color: var(--bg-primary1);
    border: 1px solid var(--divider-primary);
    border-radius: 12px;
}