@import "antd/dist/reset.css";
 li{
     list-style: none;

 }
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    overflow-x: hidden;
}
:root{
    --text-primary: #f2f4f6;
    --text-tertiary: #6e7583;
    --divider-primary: #222429;
    --primary-blue: #357aff;
   --border-width-base: 1px;
    --primary-base: #357aff;
    --bg-modal: #18191c;
    --fill-page-button-default: #222429;
    --divider-secondary: #2b2e33;
    --bg-secondary: #111214;
    --primary-text: #959da4;
    --down-red: #ff4761;
    --border-style-base: 1px;
    --text-secondary: #87909f;
    --tabs-title-height-sm:40px;
    --tabs-title-font-size-sm: 14px;
    --bg-primary: #0d0e0f;
    --up-rate: #0aa869;
    --down-rate: #fe445c;
    --bg-1:#4b4e52;
    --text-tooltip-secondary: #505152;
    --scrollbar-track: #35383f;
    --fill-menu-selected:#222429;
    --divider:#1e1f20;
    --modal-content-bg:#fff;
    --modal-border-radius:8px;
    --modal-header-close-size:60px;
    --font-size-lg:16px;
    --modal-close-color:#87909f;
    --bg-tertiary: #111421;
    --title:#151617;
    --bg-2:#edeff1;
    --border-card:#e2e5e7





}

